<h1 class="display-3">Formulario de edición de productos</h1>

<hr>

<form action="/api/v1/productos/{{producto._id}}?_method=PUT" method="post" class="border border-warning p-5 m-auto w-50">

    {{!-- Campo nombre --}}
    <div class="mb-3">
        <label for="lbl-nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="lbl-nombre" name="nombre" placeholder="Ingrese el nombre" value="{{producto.nombre}}">
    </div>
    {{!-- Campo categoría --}}
    <div class="mb-3">
        <label for="lbl-categoria" class="form-label">Categoría</label>
        <input type="text" class="form-control" id="lbl-categoria" name="categoria" placeholder="Ingrese el categoría" value="{{producto.categoria}}">
    </div>
    {{!-- Campo stock --}}
    <div class="mb-3">
        <label for="lbl-stock" class="form-label">Stock</label>
        <input type="text" class="form-control" id="lbl-stock" name="stock" placeholder="Ingrese el stock" value="{{producto.stock}}">
    </div>
    {{!-- Campo disponible --}}
    <div class="mb-3">
        <label for="lbl-disponible" class="form-label">Disponible</label>
        <input type="text" class="form-control" id="lbl-disponible" name="disponible" placeholder="Ingrese el disponible" value="{{producto.disponible}}">
    </div>
    {{!-- Campo precio --}}
    <div class="mb-3">
        <label for="lbl-precio" class="form-label">Precio</label>
        <input type="text" class="form-control" id="lbl-precio" name="precio" placeholder="Ingrese el precio" value="{{producto.precio}}">
    </div>

    <button type="submit" class="btn btn-warning">Editar Producto</button>
</form>